body, html, main {
		padding: 0;
		margin: 0;
	}

	:root {
		--big-heart-size: 100px;
		--small-heart-size: 80px;
		--smaller-heart-size: 60px;
	}


	@font-face {
		font-family: 'AbrilFatface-Regular';
		src: url('./fonts/AbrilFatface-Regular.ttf');
	}

	@media only screen and (max-width: 413px) {
		.heart, .heart:before, .heart:after {
			width: var(--smaller-heart-size);
			height: var(--smaller-heart-size);
		}
		.heart:after {
			left: 30px;
		}
		.heart:before {
			top: -30px;
		}
	}

	@media only screen and (min-width: 414px) and (max-width: 620px) {
		.heart, .heart:before, .heart:after {
			width: var(--small-heart-size);
			height: var(--small-heart-size);
		}
		.heart:after {
			left: 40px;
		}
		.heart:before {
			top: -40px;
		}
		.love-words {
			font-size: 2em;
		}
		.love-words.second {
			font-size: 2em;
		}

	}

	@media only screen and (min-width: 621px) {
		.heart, .heart:before, .heart:after {
			width: var(--small-heart-size);
			height: var(--small-heart-size);
		}
		.heart:after {
			left: 40px;
		}
		.heart:before {
			top: -40px;
		}
		.love-words {
			font-size: 48px;
		}
		.love-words.second {
			font-size: 48px;
		}
	}

	@media only screen and (min-width: 1200px) {
		.heart, .heart:before, .heart:after {
			width: var(--big-heart-size);
			height: var(--big-heart-size);
		}
		.heart:after {
			left: 50px;
		}
		.heart:before {
			top: -50px;
		}
		.love-words {
			font-size: 52px;
		}
		.love-words.second {
			font-size: 52px;
		}
	}

	.back {
		background: linear-gradient(30deg, #e66465, #9198e5);
		margin: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		position: fixed;
		animation-name: backdiv;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		/*animation-timing-function: ease-in;*/
	}

	.heart {
		background: #ffc0cb;
		/*width: 100px;
		height: 100px;*/
		margin: auto;
		top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
		position: absolute;
		transform: rotate(-45deg);
		animation-name: beat;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.heart:after {
		content: '';
		background-color: #ffc0cb;
/*		width: 100px;
		height: 100px;*/
		position: absolute;
    	top: 0px;
    	/*left: 50px;*/
    	border-radius: 50%;
    	animation-name: beat_color;
    	animation-duration: 1s;
    	animation-iteration-count: infinite;
	}

	.heart:before {
		content: '';
		background-color: #ffc0cb;
/*		width: 100px;
		height: 100px;*/
		position: absolute;
    	/*top: -50px;*/
    	left: 0px;
    	border-radius: 50%;
    	animation-name: beat_color;
    	animation-duration: 1s;
    	animation-iteration-count: infinite;
	}

	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	.love-words-container {
		position: relative;
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.love-words-container.second {
	}

	.love-words {
		color: #fff;
		text-align: center;
		width: 100%;
		font-family: AbrilFatface-Regular, serif;
		margin: 0;
	}

	.love-content {
		color: #fff;
		text-align: center;
		font-family: "Open Sans", Helvitica, sans-serif;
	}

	@keyframes backdiv {
		20% {
			background: linear-gradient(20deg, #C53D3D, #fe78e5);
			opacity: 80%;
		}
	}

	@keyframes beat {
		0% {
			transform: scale(1) rotate(-45deg);
		}
		50% {
			transform: scale(1.2) rotate(-45deg);
			background-color: #FF8BA0;
		}
	}

	@keyframes beat_color {
		0% {
			background-color: #ffc0cb;
		}
		50% {
			background-color: #FF8BA0;
		}
	}