<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Terence Ng" />

	<!-- homepage css -->
	<link rel="stylesheet" href="/stylesheets/core.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/stylesheets/mobile.css" media="handled, only screen and (max-device-width:640px)" />
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
	<link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />

	<script type="text/javascript" src="javascripts/modernizr.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/headsmart.min.js"></script>


	<script type="text/javascript">
    $(document).ready(function () {
			$('#main_content').headsmart()
		})
  </script>
</head>


<body>
<div id="fb-root"></div>
	
	<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	<a id="forkme_banner" href="https://github.com/hyaocuk">View on GitHub</a>
	    <div class="shell">
	<header>
			<span class="ribbon-outer">
				<span class="ribbon-inner">
					<a href="http://hyaocuk.net"><h1>hyaocuk</h1></a>
					<h2>geek loves git!</h2>
				</span>
				<span class="left-tail"></span>
					<span class="right-tail"></span>
			</span>
	</header>

			<div id="no-downloads">
				<span class="inner">
				</span>
			</div>

			<span class="banner-fix"></span>
	<section id="main_content">
		
		{{ content }}

	</section>

	<footer>
		<span class="ribbon-outer">
			<span class="ribbon-inner">
				<p>Projects by <a href="https://github.com/hyaocuk">hyaocuk</a> can be found on <a href="https://github.com/hyaocuk">GitHub</a></p>
			</span>
				<span class="left-tail"></span>
					<span class="right-tail"></span>
		</span>
		<div class="fb-follow" data-href="http://www.facebook.com/terence.ng.awesome" data-width="48" data-height="48" data-colorscheme="light" data-layout="box_count" data-show-faces="true"></div>
		<br />
	</footer>

	<!-- Disqus module count comments -->
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'hyaocuk'; // required: replace example with your forum shortname
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function () {
					  var s = document.createElement('script'); s.async = true;
						s.type = 'text/javascript';
						s.src = '//' + disqus_shortname + '.disqus.com/count.js';
						(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
					}());
  </script>

</body>
</html>

